.special {
  height: 150px;
  min-width: 282px;
}

.overlap-group-7 {
  height: 150px;
  position: relative;
  top: -1px;
  width: 282px;
}

.ownership-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 0;
}

.claim-your-3-d-printi {
  left: 0;
  letter-spacing: -0.20px;
  line-height: 27px;
  position: absolute;
  top: 61px;
  width: 282px;
}

