.x03-contact-us-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 1318.96px;
  position: relative;
  width: 1440px;
}

.hero-section-3 {
  background-image: url(/static/img/hero-section@1x.svg);
  background-size: 100% 100%;
  height: 940px;
  min-width: 1440px;
  position: relative;
}

.form-content-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 61px;
  min-height: 683px;
  position: absolute;
  top: 155px;
  width: 1318px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 669px;
  margin-right: -138px;
  margin-top: 3px;
  min-width: 1517px;
}

.form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: min-content;
  justify-content: center;
  padding: 20px 0px 50px 70px;
  width: min-content;
}

.title-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: min-content;
  justify-content: center;
  padding: 0px 0px 26px;
  width: min-content;
}

.have-a-question {
  color: var(--white);
  font-family: var(--font-family-alumni_sans);
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 55px;
  margin-top: -1px;
  min-width: 368px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si {
  letter-spacing: -0.20px;
  line-height: 27px;
  width: 650px;
}

.form-block {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: min-content;
  justify-content: center;
  position: relative;
  width: min-content;
}

.button-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: min-content;
  position: relative;
  width: min-content;
}

.help {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: min-content;
  justify-content: center;
  padding: 0px 0px 12px;
  width: min-content;
}

.how-can-i-help {
  color: var(--white);
  font-weight: 400;
  line-height: 20px;
  margin-top: -1px;
  min-width: 113px;
  white-space: nowrap;
}

.placeholder-wrapper {
  align-items: center;
  background-color: var(--blackblack-800);
  border-radius: 6px;
  display: flex;
  gap: 10px;
  height: min-content;
  padding: 18px 16px 80px;
  width: 648px;
}

.enter-message-here {
  color: var(--blackblack-700);
  font-weight: 400;
  line-height: 20px;
  margin-top: -1px;
  min-width: 142px;
  white-space: nowrap;
}

.image-8 {
  height: 537px;
  margin-left: 420px;
  margin-top: 18px;
  width: 377px;
}

.fococlipping {
  height: 869px;
  margin-right: -250.23px;
  margin-top: 182px;
  width: 773px;
}

