.content-wrapper-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 114px;
  padding: 0px 117px 0px 0px;
  width: min-content;
}

.bespoke-service-desi {
  letter-spacing: 0;
  line-height: 45px;
  margin-top: -1px;
  width: 528px;
}

.content-wrapper-6.content-wrapper-7 {
  margin-right: -40px;
}

